/* Variables */
@import 'functions';

// colors
// 
$main-color: #FF7BAC;
$main-light-color: #FFEEF4;
$light-black: #4B5860;
$grey-color: #8b8e90;
// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);

